/* * {
	background-color: rgba(240, 242, 245);
} */

/* admin menu 어드민 메뉴 */
ul {
	list-style: none;
	/* padding-left: 0px; */
	padding-top: 10px;
}

li {
	cursor: pointer;
	margin-bottom: 10px;
}

.adminMenu li {
	margin-bottom: 30px;
}

.NavLink {
	text-decoration: none;
	color: lightgray;
}

.NavLink:hover {
	color: lightgray;
}

/* 게스트 회원 관리 */
.memberTable table {
	width: 100%;
	background-color: white;
	box-shadow: 0px 2px 2px 1px rgba(0 0 0 / 10%);
	border-collapse: collapse;
	border-style: hidden;
	border-radius: 10px;
}

.memberTable th {
	border-bottom: 2px solid gray;
	border-left: 0.5px solid gray;
	height: 40px;

	text-align: center;

	background-color: rgba(0, 0, 0);
	opacity: 0.6;
	/* color: lightgray; */
	color: white;
}

.memberTable td {
	border-bottom: 0.5px solid gray;
	border-left: 0.5px solid gray;
	height: 45px;

	text-align: center;
}

/* 호스트 회원 관리 */
.hostTable table {
	width: 100%;
	background-color: white;
	box-shadow: 0px 2px 2px 1px rgba(0 0 0 / 10%);
	border-collapse: collapse;
	border-style: hidden;
	border-radius: 10px;
}

.hostTable th {
	border-bottom: 2px solid gray;
	border-left: 0.5px solid gray;
	height: 40px;

	text-align: center;

	background-color: rgba(0, 0, 0);
	opacity: 0.6;
	/* color: lightgray; */
	color: white;
}

.hostTable td {
	border-bottom: 0.5px solid gray;
	border-left: 0.5px solid gray;
	height: 40px;

	text-align: center;
}

/* 공지사항 관리 */
.noticeTable table {
	width: 100%;
	background-color: white;
	box-shadow: 0px 2px 2px 1px rgba(0 0 0 / 10%);
	border-collapse: collapse;
	border-style: hidden;
	border-radius: 10px;
}

.noticeTable th {
	border-bottom: 2px solid gray;
	border-left: 0.5px solid gray;
	height: 40px;

	text-align: center;

	background-color: rgba(0, 0, 0);
	opacity: 0.6;
	/* color: lightgray; */
	color: white;
}

.noticeTable td {
	border-bottom: 0.5px solid gray;
	border-left: 0.5px solid gray;
	height: 40px;

	text-align: center;
}
