.bookingTop {
	text-align: center;
	margin-bottom: 50px;
}

.bdContainer {
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
	grid-template-colums: repeat(3, 1fr);
}

.dbItem:nth-child(1) {
	grid-column: 1/4;
}
.dbItem:nth-child(2) {
	grid-column: 4/6;
	margin-left: 30px;
	height: 400px;
	position: sticky;
	top: 100px;
	height: 400px;
}

.bdSpaceInfo {
	display: flex;
	margin-bottom: 20px;
}

.bdSpaceInfo > img {
	margin-left: 30px;
	margin-top: 30px;
}

.bdSpaceInfo > div {
	margin-top: 30px;
	margin-left: 10px;
}

.bdUserInfo {
	margin-left: 30px;
	margin-top: 15px;
}

.bdHostInfo {
	margin-left: 30px;
	margin-top: 10px;
}

.bdPreInfo {
	margin-left: 30px;
	margin-top: 10px;
}

.bdPrice {
	background: #f8f8f8;
}

.bdPrice > div {
	margin-left: 20px;
	margin-right: 20px;
}

.bookingBtn {
	border-style: solid;
	width: 100%;
	height: 49px;
	padding-top: 2px;
	border: 1px solid #704de4;
	/* font-size: 13px; */
	line-height: 45px;
	color: #ffd014;
	background-color: #704de4;
}

input {
	border: 1px solid #ddd;
}

/* 예약내역리스트 */
.BLContainer {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

/* pagination */
.pagination {
	display: flex;
	justify-content: center;
	margin-top: 15px;
	/* position: fixed; */
	/* bottom: 1000px; */
}

ul {
	list-style: none;
	padding: 0;
}

ul.pagination li {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #e2e2e2;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
}

ul.pagination li:first-child {
	border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child {
	border-radius: 0 5px 5px 0;
}

ul.pagination li a {
	text-decoration: none;
	color: #704de4;
	font-size: 1rem;
}

ul.pagination li.active a {
	color: white;
}

ul.pagination li.active {
	background-color: #ffd014;
}

ul.pagination li a:hover,
ul.pagination li a.active {
	color: blue;
}

.page-selection {
	width: 48px;
	height: 30px;
	color: #704de4;
}
