/*Detail css */
.detailContainer {
	display: grid;
	grid-template-columns: 65% 30%;
	grid-gap: 0px 60px;
}

.detailHeader {
	grid-column: span 2;
}

.detailItem {
	grid-column: 1;
}
.detailItem2 {
	grid-column: 2;
	height: 400px;
}
.detailBottom {
	grid-column: span 2;
}
.tagRoom {
	width: auto;
	margin: 7px 7px 7px 0;
	padding: 0 15px;
	height: 29px;
	font-size: 12px;
	line-height: 29px;
	border-radius: 29px;
	display: inline-block;
	border: 1px solid #e0e0e0;
	color: #656565;
}
/* 상세페이지 slick 화살표 방향 */
.sliderBanner .slick-prev,
.sliderBanner .slick-next {
	font-family: 'slick';
	font-size: 90px !important;
	opacity: 0.75;
	color: #ebffeb;
	z-index: 10;
}
.sliderBanner .slick-prev:hover,
.sliderBanner .slick-next:hover {
	font-size: 90px !important;
	opacity: 1;
	color: #f5f5f5;
}

/* card 화살표 위치 변경 */
.cardImg .slick-slider:hover > .slick-prev {
	opacity: 1;
	color: #f5f5f5;
	left: 0px !important ;
	font-size: 40px !important;
	z-index: 999;
	background-image: linear-gradient(
		to right,
		rgb(50, 50, 50) -55%,
		transparent 100%
	);
	height: 100%;
}
.cardImg .slick-slider:hover > .slick-next {
	opacity: 1;
	color: #f5f5f5;
	right: 0px !important ;
	font-size: 40px !important;
	z-index: 999;
	background-image: linear-gradient(
		to right,
		transparent 0%,
		rgb(50, 50, 50) 150%
	);
	height: 100%;
}

.slick-slider:hover {
	/* background-image: linear-gradient(to right, grey, white 10%); */
	/* background-image: linear-gradient(to left, grey 45%, white 10%, grey 45%); */
	/* background-image: linear-gradient(to right, red 10%, blue); */
	/* background-image: linear-gradient(
		90deg,
		transparent 0%,
		rgb(105, 105, 105) 100%
	); */
}

/*DetailInfo css */
.input-group.detail-memu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.detailMenu {
	width: 16.7%;
	background-color: #f5f5f5;
	border-top: 2px solid gray !important;
	text-align: center;
	border: 1px solid lightgray;
	height: 50px;
	line-height: 50px;
	color: black;
	text-decoration: none;
	cursor: pointer;
	font-size: 13px;
}
.detailMenu:hover {
	color: black;
}

.detailMenu.active {
	background-color: white;
	border-bottom: none;
	line-height: 50px;
	height: 50px;
}

.mainFigure {
	display: flex;
	margin-top: 40px;
	font-size: 13px;
}
.fceFigure {
	margin-right: 7%;
}
.fceFigure img {
	width: 60px;
	height: 60px;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
}
.fceFigure figcaption {
	text-align: center;
}

/*DetailPrice css */
.priceEvent {
	border-bottom: 2px solid #704de4;
	padding-bottom: 10px;
}
.smallContent {
	font-size: 14px;
	color: gray;
}
.smallTime.color {
	background-color: #704de4;
}

.detailPriceInfo {
	border: 1px solid #704de4;
}

.facilityItem {
	display: flex;
	flex-wrap: wrap;
	margin-top: 25px;
}
.spaceInfo {
	border-bottom: 1px solid lightgray;
	padding: 5px 5px;
}

.call {
	width: 40%;
	border: 1px solid #f0f0f0;
	background-color: #f0f0f0;
	height: 50px;
}
.booking {
	width: 60%;
	border: 1px solid #704de4;
	background-color: #704de4;
	height: 50px;
	color: #ffd014;
}

/* 달력 css*/
.react-calendar__month-view__weekdays abbr {
	text-decoration: none;
}

.react-calendar__month-view__days__day:nth-child(7n) {
	color: blue;
}
.react-calendar__month-view__days__day--neighboringMonth {
	color: #1010104d !important;
}
.react-calendar__tile--active {
	background-color: #704de4 !important;
}
.react-calendar__tile--now {
	background-color: #ffd014 !important;
}
/* 시간 설정*/
.smallTime {
	width: auto;
	height: 40px;
	border: 1px solid #ffc000;
	text-align: center;
	font-size: 10px;
	line-height: 40px;
	color: #cc8c28;
	background-color: #ffd014;
	cursor: pointer;
}
.smallTimecolor {
	background-color: #704de4;
	width: auto;
	height: 40px;
	border: 1px solid #5940ac;
	text-align: center;
	font-size: 10px;
	line-height: 40px;
	color: #fff;
	cursor: pointer;
}
.smallTimeblock {
	border: 1px solid #ccc;
	font-size: 0;
	pointer-events: none;
	background-size: contain;
	background-image: url(https://github.com/MoiM-Project/data/blob/main/icon/Screenshot%202022-11-21%20at%2002.07.22.JPG?raw=true);
}
/*인원 수*/
.detailInwon {
	display: flex;
	margin-top: 20px;
	justify-content: center;
}
.changeInwon {
	width: 40px;
	height: 40px;
	border: 1px solid lightgray;
	text-align: center;
	line-height: 40px;
	background-color: #f5f5f5;
	color: #a0a0a0;
	cursor: pointer;
}
.detailInputInwon {
	width: 150;
	border: 1px solid lightgray;
	text-align: center;
	line-height: 40px;
	height: 40px;
}
input::-webkit-inner-spin-button {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.MuiSvgIcon-root {
	vertical-align: sub;
}

.detailTotalPrice {
	font-size: 20px;
	color: #704de4;
	text-align: right;

	padding-bottom: 32px;
	border-top: 2px solid #ccc;
}
.detailBox {
	width: 15px;
	height: 15px;
	float: left;
	margin-top: 6px;
}
.detailTimeInfo {
	color: red;
	font-size: 12px;
	margin-top: 30px;
	margin-bottom: 30px;
}
/*Qna*/
.qnaContent {
	font-family: normal;
	color: #656565;
	margin-bottom: 10px;
}
.qnaDay {
	color: #b2b2b2;
	font-size: 13px;
}
.qnaImg {
	width: 80px;
	height: 80px;
	border-radius: 80px;
}

.qnabtn {
	float: right;
}
.qnaInfo {
	color: red;
	font-size: 13px;
}
.reviewImg {
	width: 170px;
	height: 170px;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transition: all 0.3s ease-in-out; /* 부드러운 모션을 위해 추가*/
}
.reviewImg:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.btnHost {
	text-align: center;
	width: 200px;
	border: 1px solid #704de4;
	height: 50px;
	color: #704de4;
	line-height: 50px;
	background-color: white;
	border-radius: 50px;
}
