header {
	background-color: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	z-index: 10;
	font-size: 15px;
	/* font-family: 'SeoulNamsanM'; */
	word-spacing: -1px;
}

div#wrapper {
	margin: 0 auto;
	height: auto;
	min-height: 100%;
	position: relative;
	/* background-color: #f6f6f6; */
}

div.content {
	max-width: 1180px;
	top: 100px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	min-height: 1000px;
}

div#menu {
	width: 30%;
	float: left;
}

div#myContent {
	width: 70%;
	float: right;
}

footer {
	background-color: #fafafc;
	width: 100%;
	height: 100px;
	position: relative;
}

div.my-menu-wrapper {
	/* position: fixed; */
	height: 500px;
	top: 100px;
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid rgb(183, 183, 183);
	margin-top: 100px;
	background-color: #fff;
	border-radius: 10px;
}

div.my-profile {
	width: 100%;
	height: 150px;
}

img#my-profile-img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

div.my-menu {
	/* padding: 20px 0; */
	width: 100%;
}

div.my-menu>div {
	display: flex;
	flex-direction: column;
}

div.my-menu-top {
	margin-bottom: 30px;
}

div.my-menu>div a {
	display: block;
	margin: 5px;
	font-size: 17px;
	font-weight: 1000;
	/* color: gray; */
	text-decoration-line: none;
}

a.menu-select:hover {
	color: #000;
	font-weight: 1000;
	text-decoration-line: none;
}

/* content */
div.my-content-wrapper {
	/* position: fixed; */
	height: 700px;
	top: 100px;
	width: 600px;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	margin-top: 100px;
	border: 1px solid rgb(183, 183, 183);
	background-color: #fff;
	border-radius: 10px;
}

div.my-content-profile {
	width: 100%;
}

img.updateprofileImage {
	width: 70px;
	height: 70px;
	border-radius: 50px;
}