span.reviewGuest {
	width: 50%;
	height: 40p;
	line-height: 35px;
	text-align: center;
	border-top: 3px solid #7b68ee;
	cursor: pointer;
}
.searchBNum {
	width: 100%;
	height: 80px;
	border: 3px solid #7b68ee;
	padding-top: 2%;
	padding-left: 5%;
}
.qnaWriteday {
	color: #b2b2b2;
	font-size: 13px;
	margin-right: 10px;
	position: absolute;
	right: 24px;
}
.qnaContent1 {
	width: 400px;
	height: 100px;
	padding-left: 10px;
	color: black;
	font-family: 'NanumSquareRound';
}
.qnaAnswerday {
	color: #b2b2b2;
	font-size: 13px;
	margin-right: 10px;
	position: absolute;
	right: 23px;
	bottom: 40px;
}
.memberCount {
	font-weight: bold;
	font-size: 17px;
	padding-top: 15px;
	padding-left: 10px;
}
