span.reviewGuest {
	width: 40%;
	height: 40p;
	line-height: 35px;
	text-align: center;
	border-top: 2px solid #7b68ee;
	cursor: pointer;
}
.searchBNum {
	width: 80%;
	height: 80px;
	border: 2px solid #7b68ee;
	padding-top: 2%;
	padding-left: 5%;
}
